/*body*/
body, html{
	margin: 10px;
	background-color: #89cff0;
	font-family: 'montserrat', sans-serif;
	color: #1E3A5F;
}
/*link*/
conteudoc{
	background-color: #89cff0;
	https://criarmeulink.com.br/u/1789849807
}	
conteudocc{

	https://criarmeulink.com.br/u/1789849807
}